<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>403 Access denied</h1>
        <div th:inline="text">Sorry,'[[${#httpServletRequest.remoteUser}]]', you do not have permission to access this page.</div>
    </div>

</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>